.submit-button {
    z-index: 5;
    position: absolute;
    bottom: 100px;
    left: 120px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 40%;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
    transition: all 0.5s;
}

.submit-button:hover {
    background-color: #50e5b9;
}

.submit-button:active {
    background-color: #88ef9e;
}

.map-modal {
    position: absolute;
    top: 200px;
    left: 50px;
    z-index: 8;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-modal img {
    box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.8),
                2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

