.login-signup {
/* margin: 0; */
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: #ecf0f3;
    width: 400px;
    height: 750px;
    /* padding: 10px 35px 35px 35px; */
    border-radius: 40px;
}

.login-signup-header {
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding: 0px 20px 0px 20px;
    border-bottom: 1px solid lightgray;
}
/* .header {
    position: fixed;
    top: 35px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    padding-top: 30px;
    width: 330px;
    border-bottom: 1px solid lightgray;
    background-color: #ecf0f3;
} */

.active h3,
.inactive h3 {
    padding: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.5s;
}

.header h3 a {
    text-decoration: none;
    transition: all 0.5s;
}

.active {
    border-bottom: 4px solid #02c8db;
    transition: all 0.5s;
    cursor: pointer;
}

.inactive {
    border-bottom: 4px solid #ecf0f3;
}