.search {
    z-index: 2;
    position: absolute;
    top: 40px;
    left: 30px;
}

.search input {
    border-radius: 50px;
    outline-width: 0;
    font-size: 15px;
    border: none;
    width: 230px;
    height: 40px;
    padding-left: 20px;
    background-color: #555;
}